flask
python-dotenv
flask-wtf
Flask-SQLAlchemy==2.4.4
flask-login
flask-moment
flask-mail
pyjwt
numpy
stripe
redis
WTForms
SQLAlchemy
email_validator
psycopg2
gunicorn
alembic==0.9.6
Flask-Migrate==2.5.3