{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <br>
    <table>
        <tr>
            <th>Shift Reference</th>
            <th>Amount</th>
            <th>Memo</th>
            <th>Flagged for review?</th>
            <th>Payout ID</th>
            <th>Disputed by payor?</th>
            {% if current_user.user_type == 1 %}
                <th>Payout</th>
                <th>Dispute</th>
            {% endif %}
        </tr>
        {% for x in payables %}
            <tr>
                <td><a href="{{ url_for('main.view_shift', shift_id=x.shift_id) }}">Shift Reference</a></td>
                <td>${{ x.amount }}</td>
                <td>{{ x.memo }}</td>
                <td>{{ x.is_flag }}</td>
                <td>{{ x.payout_id }}</td>
                <td>{{ x.is_dispute }}</td>
                {% if current_user.user_type == 1 %}
                    <td><a href="{{ url_for('acct.generate_payout', payable_id=x.id) }}">Generate Payout</a></td>
                    <td><a href="{{ url_for('acct.generate_dispute', payable_id=x.id) }}">Generate Dispute</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Total Due: ${{ amount_due }}</h2>
{% endblock %}